># <center> <font color='red'> CMPE428 - DATA SCIENCE </font> </center>
>## <center> <font color='blue'> Assignment 1 - Built-in Types in Python </font>  </center>

Create a tuple including elements 5,10,15,20 and display the tuple

In [1]:

tup=(5,10,15,20)

Print the sum of the elements of the tuple

In [2]:
print(sum(tup))

50

Concatenate tuple with the tuple (1,2,3) and print the resultant tuple

In [3]:
tup = tup + (1,2,3)
print(tup)

(5, 10, 15, 20, 1, 2, 3)

duplicate the tuple 5 times as a new tuple

In [4]:
new_tup = tup * 5
print(new_tup)

(5, 10, 15, 20, 1, 2, 3, 5, 10, 15, 20, 1, 2, 3, 5, 10, 15, 20, 1, 2, 3, 5, 10, 15, 20, 1, 2, 3, 5, 10, 15, 20, 1, 2, 3)

unpack tuple into three variables, a,b, c and d

In [5]:

a, b, c, d = (5,10,15,20)
print(a,b,c,d)

5 10 15 20

Access the elements of the tuple in a for loop one by one and display their square roots

In [6]:
import math
for i in tup:
  print(math.sqrt(i))

2.23606797749979
3.1622776601683795
3.872983346207417
4.47213595499958
1.0
1.4142135623730951
1.7320508075688772

Create a an empty list named as myList

In [7]:
myList = []

Add the elements 5,10,15 and 20 one by one to the list

In [8]:
myList.append(5)
myList.append(10)
myList.append(15)
myList.append(20)
print(myList)

[5, 10, 15, 20]

Display the list in reverse order

In [9]:
print(myList[::-1])

[20, 15, 10, 5]

Insert the string "abc" to the index 2

In [10]:
myList.insert(2, "abc")
print(myList)

[5, 10, 'abc', 15, 20]

Pop the string inserted

In [11]:
myList.pop(2)
print(myList)

[5, 10, 15, 20]

Remove 15 from the list

In [12]:
myList.remove(15)
print(myList)

[5, 10, 20]

Write an expression to check if the list contains 15

In [13]:
print(15 in myList)

False

Create a new list by concatenated myList and ['a','b','c']

In [14]:
newList=myList+['a','b','c']
print(newList)

[5, 10, 20, 'a', 'b', 'c']

Extend a myList by appending elements [1,2,3] using the extend method

In [15]:
myList.extend([1,2,3])
print(myList)

[5, 10, 20, 1, 2, 3]

Create a dictionary named as myDict with the following keys/value pairs:
'a':'foo'
'b': [1,2,3,4]

In [16]:
myDict={'a':'foo','b':[1,2,3,4]}
print(myDict)

{'a': 'foo', 'b': [1, 2, 3, 4]}

Display the value corresponding to key 'b'

In [17]:
print(myDict['b'])

[1, 2, 3, 4]

Add a dictionary element with key 'c' and value '428'

In [18]:
myDict['c']='428'
print(myDict)

{'a': 'foo', 'b': [1, 2, 3, 4], 'c': '428'}

Remove the dictionary entry corresponding to key 'b'

In [19]:
del myDict['b']
print(myDict)

{'a': 'foo', 'c': '428'}

print the list of keys in myDict

In [20]:
print(myDict.keys())

dict_keys(['a', 'c'])

print the list of values in myDict

In [21]:
print(myDict.values())

dict_values(['foo', '428'])

Iterate through a dictionary's keys and values:

In [22]:
for key, value in myDict.items():
    print(key, value)

a foo
c 428

Append multiple key/value pairs to myDict

In [23]:
myDict.update({'e': 'elephant', 'f': 'fish'})
print(myDict)

{'a': 'foo', 'c': '428', 'e': 'elephant', 'f': 'fish'}

Create a set with elements 0, 1, 2, 3, 4, 5

In [24]:
mySet1 = {0, 1, 2, 3, 4, 5}
print(mySet1)

{0, 1, 2, 3, 4, 5}

Create another set with elements 4,5,6,7,8

In [25]:
mySet2 = {4, 5, 6, 7, 8}
print(mySet2)

{4, 5, 6, 7, 8}

Define mySet3 as the union of mySet1 and mySet2

In [26]:
mySet3 = mySet1.union(mySet2)
print(mySet3)

{0, 1, 2, 3, 4, 5, 6, 7, 8}

Define mySet3 as the intersection of mySet1 and mySet2

In [27]:
mySet3 = mySet1.intersection(mySet2)
print(mySet3)

{4, 5}

Define mySet3 as the elements in mySet1 but not in mySet2

In [28]:
mySet3 = mySet1.difference(mySet2)
print(mySet3)

{0, 1, 2, 3}

Define mySet3 as the elements that are in either mySet1 or mySet2 but not in both

In [29]:
mySet3 = mySet1.symmetric_difference(mySet2)
print(mySet3)

{0, 1, 2, 3, 6, 7, 8}